{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="password_request_div">
    <div class="password_request_ctn">
        <h1>Réinitialisation de mot de passe</h1>
        {{ form_start(form) }}
        <button type="submit">Envoyer</button>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
