{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/tete_portofolio.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="main_prt_div">
        <div class="prt_ctn">
            <div class="vote_top_wth">
                <h1>Vote</h1>
            </div>
        </div>
    </div>
{% endblock %}
