.main_accueil_div{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}
.acc_ctn{
    display: flex;
    justify-content: center;
    width: 60%;
}
.acc_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.acc_top p{
    margin: 0;
}
.acc_top a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-txt);
    width: 50%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}