.admin_ctn{
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 150px;
padding-top: 50px;
width: 100%;
}
.admin_wth{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 60%;
}
.admin_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.admin_top h1{
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}
.adm_candid_list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}
.adm_candid_list h2{
    width: 30%;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px var(--red-txt);
}
.adm_candid_card{
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 10px;
    padding: 15px;
    width: 80%;
}
.adm_candid_card p{
    margin: 0 10px 0 0;
    padding: 0;
}
.card_body{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.card_body h5{
    margin: 0 10px 0 0;
    padding: 0;
}
.adm_list_user{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.adm_user_list_ctn{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.adm_user_card{
    display: flex;
    flex-direction: column;
    border-bottom: 1px grey solid;
    background-color: rgba(209, 208, 208, 0.247);
    border-radius: 5px;
    padding: 10px;
    width: 20%;
}
.adm_user_card h2{
    margin: 0;
    padding: 0;
}
.adm_user_card p{
    margin: 0;
}
.adm_user_card a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-txt);
    width: 50%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.adm_add_img_membre{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.adm_add_img_membre div{
    margin: 0;
}
.adm_add_img_membre input{
    margin: 0;
}