{% extends 'base.html.twig' %}

{% block title %}Candidature Erreur{% endblock %}

{% block body %}
<div class="error_candid_div">
    <h3>{{message}}</h3>
    <a href="{{path('main')}}">Retour a l'accueil</a>
</div>
{% endblock %}
