{% extends 'base.html.twig' %}

{% block title %}Hello CandidatureController!{% endblock %}

{% block body %}
<div class="main_candid_div">
    <div class="candid_ctn">
        <div class="candid_top">
            {% if app.user %}
                <h1>Candidature de {{app.user.email}}</h1>
            {% else %}
                <h1>Candidature pour la LordBlock</h1>
            {% endif %}
        </div>
        <div class="candid_form">
            {{form_start(form)}}
            {{form_end(form)}}
        </div>
        <div class="img_previous">
            <div id="imagePreview" class="preview_image"></div>
        </div>
    </div>
</div>
{% endblock %}
