{% extends 'base.html.twig' %}

{% block title %}Candidature Erreur{% endblock %}

{% block body %}
<div class="success_candid_div">
    <h3>Prise en compte de la candidature</h3>
    <p>Ta candidature a bien été prise en compte, merci d'avoir candidaté</p>
    <p>Une réponse te sera apporté dans les delais les plus court.</p>
    <a href="{{path('main')}}">Retour a l'accueil</a>
</div>
{% endblock %}
